<div class="jumbotron">
  <h1 class="display-1 text-center">Evan's Restaurant!</h1>
</div>



<div class="container">
  <div class="row">
    <div class="col bg-dark menu-header">
      <h2>Menu:</h2>
      <div class="row">

        {{#each items}}

        <div class="col-2 text-center item-block change-eaten" data-id="{{id}}" data-name="{{item_name}}" data-price="{{price}}">
          <p>#{{id}}): {{item_name}}</p>
          <p>Price: ${{price}}</p>
          {{!-- <button class="change-eaten" data-id="{{id}}">
            Order up!
          </button> --}}
          <hr>
        </div>

        {{/each}}

      </div>
    </div>

  </div>
</div>


<div class="row add-item">
  <div class="col text-center">
    <h2>Add Food Item</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="item-name">Item Name:</label>
        <input type="text" id="item-name" name="item_name">
        <label for="item-price">Item Price:</label>
        <input type="text" id="item-price" name="item_name">
      </div>

      <button type="submit">Add to Menu</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col text-center order-col">
    <h3>Current Order:</h3>
  </div>
  <button id="cash-out">Cash Out</button>
</div>